body {

    background-image: url(back3.jpg);
    background-size: 100%;
    margin: 0px;
}
#home {
    font-family: Mynerve, sans-serif;
    background-color: rgba(232,114,16,0.5);
    border-radius: 10px;
    font-size: 50px;
}

form {
    justify-content: left;
    font-size: 20px;
    text-align: left;
    font-family: Mynerve, sans-serif;
        color: black;
        padding: 50px,50px,50px,50px;
        
    }

    
